@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #1A1A1A;
}

body *{
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
}

header svg{
    width: 170px;
    fill: rgb(40 40 40);
}

.splide__arrows--ttb {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: -10%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 10px;
    height: 100px;
}

.splide__arrows--ttb .splide__arrow {
    border: none;
    cursor: pointer;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.5); 
}

.splide__arrows--ttb .splide__arrow svg {
    fill: white;
}

/* .splide__arrow--prev {
    height: 50px;
}

.splide__arrow--next {
    height: 50px;
} */

@media(max-width: 768px){
    .splide__arrows--ttb{
        display: none;
    }
}

.player-wrapper {
    position: relative;
    width: auto; /* Вы можете установить свои размеры */
    height: 100%;
    overflow: hidden;
}

input[type="range"] {
    -webkit-appearance: none;  /* Убираем стандартный стиль для Chrome */
    appearance: none;
    width: 100%; /* Полная ширина контейнера */
    height: 2px; /* Тонкий ползунок */
    outline: none; /* Убираем контур */
    transition: opacity .2s ease-in-out;
    background-color: rgba(255, 255, 255, 0.34);
    border-radius: 4px;
}

input[type="range"]:hover{
    height: 4px; 
    border-radius: 0;
}

input[type="range"]:hover::-webkit-slider-thumb{
    display: block;
}

/* Стили для ползунка */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #FFFFFF; /* Белый ползунок */
    cursor: pointer;
    box-shadow: 0 0 2px #000000; /* Небольшая тень для видимости */
    display: none
}

input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    background: #FFFFFF;
    cursor: pointer;
    box-shadow: 0 0 2px #000000;
}

/* Добавьте дополнительные стили для IE */
input[type="range"]::-ms-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #FFFFFF;
    cursor: pointer;
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

.controls {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.controls input[type="range"] {
    width: 260px;
    cursor: pointer;
}